/******************************************************************

Stylesheet: Style to embed into iframes

******************************************************************/



/* PDF.js customisations */

div.toolbar
{
    display: none;
}

#viewerContainer
{
    top: 0;
}

.pdfViewer .page
{
    margin: 0;
    border: 0;
    padding: 0;
}
  
.annotationLayer .linkAnnotation > a:hover, .annotationLayer .buttonWidgetAnnotation.pushButton > a:hover
{
    opacity: 0.33 !important;

    background: rgb(0, 50, 255) !important;

    border-radius: 0.25rem !important;
    box-shadow: 0px 2px 10px rgba(0, 50, 255, 1) !important;
}