/******************************************************************

Stylesheet: Style to embed into iframes

******************************************************************/



/* PDF.js customisations */

div.toolbar
{
}

#viewerContainer
{
}

.pdfViewer .page
{
    
}
  
.annotationLayer .linkAnnotation > a:hover, .annotationLayer .buttonWidgetAnnotation.pushButton > a:hover
{
    opacity: 0.25 !important;

    background: rgb(0, 50, 255) !important;

    border-radius: 1rem !important;
    box-shadow: 0px 2px 10px rgba(0, 50, 255, 1) !important;
}