/******************************************************************

Stylesheet: Overrides for WSSPR theme

******************************************************************/



/* Font imports */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&display=swap');




/* body override */

body
{
    background-color: #FFF;
    
    font-family: 'Poppins';
    color: #000;
}



/* Hyperlink overrides */

p a, section.entry-content ul li a
{
    color: #BFB30D !important;
}

p a:hover, section.entry-content ul li a:hover
{
    color: #928b25 !important;
}

p a:active, section.entry-content ul li a:active
{
    color: #79720f !important;
}



/* Header override */

.header
{
    padding-left: 1rem;
    padding-right: 1rem;

    background-color: #FFF !important;
}

.header *
{
    font-family: 'Nunito'; 
}

#logo
{
    float: left;

    margin-right: 1rem;
}

#logo img
{
    width: 150px;
    height: 58px;
}

#logo a
{
    font-weight: bold;
    text-decoration: none !important;
    color: #000 !important;
    font-size: 3rem;
}

#logo a .splossary-s, h1.page-title .splossary-s
{
    color: #70AD48;
}

#logo a .splossary-p, h1.page-title .splossary-p
{
    color: #2E75B6;
}



/*
NOT USED AS OF 2023-06-05
#logo a
{
    margin-left: 6rem;

    font-size: 1.5rem;
    color: #000;
}

.header hr
{
    margin: 0;
    margin-bottom: 0.5rem;

    width: 100%;

    border: 1px solid #008e535d;
}*/



/* Desktop menu override */

#main-nav
{
    display: none;

    margin-top: 2rem;
}

header .menu-item
{
    margin-right: 1rem;

    flex: 1 0 auto;
    flex-grow: unset;
}

header .menu-item a
{
    padding: 0;

    color: #000;
    text-decoration: none !important;
    font-weight: 500;
}

header .menu-item:hover a
{
    color: rgb(0, 138, 80) !important;
}

header .menu-item:active a
{
    color: rgb(0, 95, 56) !important;
}

header .menu-item.menu-item-has-children:hover a
{
    color: rgb(173, 156, 21) !important;
}

header .menu-item.menu-item-has-children:active a
{
    color: rgb(128, 115, 16) !important;
}

header .menu-item.menu-item-has-children .sub-menu
{
    border: none !important;
    background-color: #FFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12), 0px 0px 6px rgba(0, 0, 0, 0.06);
}

header .menu-item.menu-item-has-children .sub-menu .menu-item
{
    background-color: #FFF;
}

header .menu-item.menu-item-has-children .sub-menu .menu-item a
{
    background-color: #FFF;

    padding-top: 0.9rem;
    padding-bottom: 0.9rem !important;

    color: #000 !important;
    text-align: center;
}

header .menu-item.menu-item-has-children .sub-menu .menu-item:hover a
{
    color: rgb(0, 138, 80) !important;
}

header .menu-item.menu-item-has-children .sub-menu .menu-item:active a
{
    color: rgb(0, 95, 56) !important;
}

.menu-item.trp-language-switcher-container, header .menu-item.menu-item-has-children
{
    padding-right: 1rem;

    background-image: url(../images/drop-down-black.png);
    background-repeat: no-repeat;
    background-position-y: 0.6rem;
    background-size: 0.5rem;
    background-position-x: calc(100% - 0.3rem);
}

.menu-item.trp-language-switcher-container:hover, header .menu-item.menu-item-has-children:hover
{
    background-image: url(../images/lift-up-yellow.png);
}

.menu-item.trp-language-switcher-container:active, header .menu-item.menu-item-has-children:active
{
    background-image: url(../images/lift-up-dark-yellow.png);
}

.menu-item.trp-language-switcher-container a
{
    padding-bottom: 0 !important;
}

.menu-item.trp-language-switcher-container ul
{
    background: 0 !important;
    border: 0 !important;
}

.menu-item.trp-language-switcher-container .menu-item.trp-language-switcher-container
{
    padding-right: 0rem !important;
    
    background-image: none !important;
}

@media only screen and (min-width: 768px)
{

    #main-nav
    {
        display: block !important;
    }
    
    #logo
    {
        margin-top: 2rem;
        margin-right: 2rem;
        height: 87px;
        line-height: 87px;
    }

    #logo img
    {
        width: 250px;
        height: 96px;
    }

    .header .nav
    {
        display: flex;
        align-items: center;
        justify-content: left;
        flex-wrap: wrap;

        height: 100px;
    }

}



/* Header desktop search form */

.header .title-container .searchform
{
    display: none !important;
    float: right;

    margin-top: 1.75rem;

    width: 25%;
    height: 4.5rem;
}

.header .title-container .searchform #s
{
    float: left;

    margin-bottom: 0;
    margin-right: 0.5rem;

    height: calc(2.5rem - 4px);
    line-height: calc(2.5rem - 4px);
    width: calc(100% - 3rem - 28px);

    border: 2px solid rgb(68, 66, 5);
    border-radius: 4px;

    color: #008e53;
}

.header .title-container .searchform button
{
    float: left;

    width: 2.5rem;
    height: 2.5rem;

    background-image: url('../images/search-black.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgb(184, 178, 35);
    background-size: 1rem;

    border: 2px solid rgb(68, 66, 5);
    border-radius: 4px;
}

.header .title-container .searchform button:hover
{
    background-color: rgb(173, 169, 35);
}

.header .title-container .searchform button:active
{
    background-color: rgb(160, 155, 27);
}

@media only screen and (min-width: 768px)
{

    .header .title-container .searchform
    {
        display: block !important;
    }

}



/* Mobile menu */

#mobile-nav
{
    margin-top: 1rem;
}

.mobile-menu-btn
{
    float: right;

    width: 3rem;
    height: 3rem;

    background-image: url('../images/hamburger-black.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 1.5rem;

    transition: 0.2s;
}

.close-mobile-menu-btn
{
    float: right;

    width: 3rem;
    height: 3rem;
    line-height: 2.5rem;

    margin-right: 1rem;

    background-color: #EEE;

    border: 2px solid #EEE;
    text-align: center;
    font-size: 2.6rem;
    color: #000;
    cursor: pointer;
    
    transition: 0.2s;
}

.mobile-menu-btn:hover, .close-mobile-menu-btn:hover
{
    background-color: rgb(173, 169, 35);
    border: 2px solid rgb(173, 169, 35);
}

.mobile-menu-btn:active, .close-mobile-menu-btn:active
{
    background-color: rgb(160, 155, 27);
    border: 2px solid rgb(160, 155, 27);
}

.mobile-menu-itms
{
    z-index: 100005;

    display: block;
    position: fixed;
    overflow-x: hidden;

    top: 0;
    left: 4rem;
    right: 0;
    
    padding: 1rem 0rem 1rem 1rem;

    width: calc(100% - 4rem);
    height: 100%;

    background: #EEE;
    -webkit-box-shadow: -2px 0px 8px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: -2px 0px 8px 0px rgba(0,0,0,0.25);
    box-shadow: -2px 0px 8px 0px rgba(0,0,0,0.25);
    
}

.mobile-menu-itms ul.top-nav
{
    margin-top: 3.5rem;
}

.mobile-menu-itms ul li
{
    width: calc(100% - 1rem);

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    border-top: 1px solid #000;
}

.mobile-menu-itms .menu-item.menu-item-has-children
{
    background-image: none !important;

    padding-bottom: 0 !important;
}

.mobile-menu-itms .menu-item.menu-item-has-children .sub-menu
{
    background-color: #EEE !important;

    margin-top: 0.5rem !important;
    margin-bottom: 0 !important;

    box-shadow: none !important;
}

.mobile-menu-itms .menu-item.menu-item-has-children .sub-menu .menu-item
{
    background-color: #EEE !important;

    width: calc(100% + 1rem);
}

.mobile-menu-itms .menu-item.menu-item-has-children .sub-menu .menu-item a
{
    background-color: #EEE !important;
    
    padding: 0 !important;
    text-align: left;
}

.mobile-menu-itms .menu-item.menu-item-has-children.trp-language-switcher-container  .sub-menu
{
    margin-left: 1rem;
}

@media only screen and (min-width: 768px)
{

    .mobile-menu-btn
    {
        display: none !important;
    }

    #mobile-nav
    {
        display: none !important;
    }

}



/* Header mobile search form */

.header #mobile-nav .searchform
{
    display: none !important;
    float: left;

    width: calc(100% - 3.5rem);
}

.header #mobile-nav .searchform #s
{
    float: left;

    margin-bottom: 0;
    margin-right: 0.5rem;

    max-width: 100% !important;
    width: calc(100% - 5.25rem);
    height: calc(3rem - 4px);
    line-height: calc(3rem - 4px);

    border: 2px solid rgb(68, 66, 5);
    border-radius: 4px;

    color: #008e53;
}

.header #mobile-nav .searchform button
{
    float: left;

    width: 3rem;
    height: 3rem;

    background-image: url('../images/search-black.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgb(184, 178, 35);
    background-size: 1rem;

    border: 2px solid rgb(68, 66, 5);
    border-radius: 4px;
}

.header #mobile-nav .searchform button:hover
{
    background-color: rgb(173, 169, 35);
}

.header #mobile-nav .searchform button:active
{
    background-color: rgb(160, 155, 27);
}

@media only screen and (min-width: 768px)
{

    .header #mobile-nav .searchform
    {
        display: none !important;
    }

}



/* Footer override */

.footer
{
    background-color: #FFF !important;
}

.footer #inner-footer p
{
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    margin-top: 2rem;
    margin-bottom: 2rem;

    width: calc(100% - 1rem);

    font-family: 'Nunito';
    font-weight: 400;
    font-size: 1rem;
    color: #000;
    letter-spacing: 0px;
    text-decoration: none;
    text-align: center;
}

.footer #inner-footer .logos
{
    width: 100%;

    margin: 0 auto;

    margin-top: 2rem;
    
    text-align: center;
}

.footer #inner-footer .logos img
{
    margin-left: 1rem;
    margin-right: 1rem;
}

.footer #inner-footer .logos a
{
    text-decoration: none !important;
    border: 0 !important;
}

.footer #inner-footer .logos.primary a img
{
    min-width: 4.5rem;
    max-height: 4.5rem;

    margin-bottom: 1rem;
}

.footer #inner-footer .logos.secondary a img
{
    min-width: 3.5rem;
    max-height: 3.5rem;

    margin-bottom: 1rem;
}

@media only screen and (min-width: 768px)
{

    .footer #inner-footer .logos.primary a img
    {
        min-width: 6rem;
        max-height: 6rem;
    }
    
    .footer #inner-footer .logos.secondary a img
    {
        min-width: 4.5rem;
        max-height: 4.5rem;
    }

}



/* Footer menu */

.footer nav
{
    padding: 2rem;

    background-color: #212121;

    display: flex;
    justify-content: center;
}

.footer nav .footer-links ul li
{

}



/* Main override */

#main
{

}



/* NHS UK elements */

.nhsuk-u-visually-hidden
{
    padding: 1rem;

    border: 1px solid #DDD;
}



/* Disable by-lines */

.byline
{
    display: none !important;
}



/* Article overrides */

h1.page-title, h1.entry-title
{
    font-size: calc(36 * 1px);
    font-weight: 400;
}

h3.wp-block-heading
{
    font-size: calc(24 * 1px);
    font-weight: 400;
}

section p
{
    font-size: calc(18 * 1px) !important;
    font-weight: 400;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

.hentry
{
    background-color: #FFF;

    border: 0 !important;
}

.article-footer
{
    display: none !important;
}

.entry-content
{
    padding: 0rem 1.5rem 0 !important;
}

@media only screen and (min-width: 768px)
{

    h1.page-title, h1.entry-title
    {
        font-size: calc(56 * 1px);
    }

    h3.wp-block-heading
    {
        font-size: calc(28 * 1px);
    }

    section p
    {
        font-size: calc(20 * 1px) !important;
    }

}



/* Wrap overrides */

.wrap
{
    width: 100% !important;
}

@media only screen and (min-width: 1280px)
{

    .wrap
    {
        width: 90% !important;
    }

}

@media only screen and (min-width: 1600px)
{

    .wrap
    {
        width: 80% !important;
    }

}

@media only screen and (min-width: 1920px)
{

    .wrap
    {
        width: 70% !important;
    }

}



/* Form fixes */

#wpmem_reg select
{
    padding-left: 12px !important;
    padding-right: 12px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}



/* Customisations */

.green-text
{
    color: #008A50 !important;
    font-weight: bold !important;
}