/******************************************************************

Stylesheet: Overrides for WSSPR theme

******************************************************************/



/* Font import */

@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300;400;600;700&family=Raleway:wght@300;400;600;700&family=Signika:wght@300;400;600;700&display=swap');



/* body override */

body
{
    background-color: #FFF !important;
    
    font-family: 'Biryani';
    color: #000;
}



/* Header override */

.header
{
    background-color: #008e53;
}

#logo
{
    float: left;

    margin: 0 auto;
    height: 6rem;

    line-height: 5.25rem;
    width: 75%;
    
    background-image: url('../images/wsspr-logo-min.png');
    background-repeat: no-repeat;
    background-size: auto 5rem;
    background-position: left 0rem top 0.5rem;
}

#logo a
{
    margin-left: 6rem;

    font-size: 1.5rem;
    color: #FFF;
}

.header hr
{
    margin: 0;
    margin-bottom: 0.5rem;

    width: 100%;

    border: 1px solid #008e535d;
}



/* Header search form */

.header .searchform
{
    float: right;

    margin-top: 1.75rem;

    width: 25%;
    height: 4.5rem;
}

.header .searchform #s
{
    float: left;

    margin-bottom: 0;
    margin-right: 0.5rem;

    height: calc(2.5rem - 4px);
    line-height: calc(2.5rem - 4px);
    width: calc(100% - 3rem - 28px);

    border: 2px solid rgb(68, 66, 5);
    border-radius: 4px;

    color: #008e53;
}

.header .searchform button
{
    float: left;

    width: 2.5rem;
    height: 2.5rem;

    background-image: url('../images/search-green.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgb(184, 178, 35);
    background-size: 1rem;

    border: 2px solid rgb(68, 66, 5);
    border-radius: 4px;
}

.header .searchform button:hover
{
    background-color: rgb(173, 169, 35);
}

.header .searchform button:active
{
    background-color: rgb(160, 155, 27);
}



/* Footer override */

.footer
{
    background-color: #333333;
}
    
.footer nav
{
    display: none !important;
}

.footer, .footer p
{
    padding: 0.5rem;

    font-family: 'Raleway';
    font-weight: 400;
    font-size: 0.85rem;
    color: #FFFFFF;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
}



/* Menu item override */

.menu-item
{
    margin-right: 0.5rem;

    background-color: rgb(184, 178, 35);

    border-radius: 0.5rem;
} 

header .menu-item
{
    margin-bottom: 0.5rem;
}

.menu-item:hover
{
    background-color: rgb(173, 169, 35);
}

.menu-item:active
{
    background-color: rgb(160, 155, 27);
}

.menu-item a
{
    padding: 0.5rem !important;
}



/* Main override */

main
{

}



/* NHS UK elements */

.nhsuk-u-visually-hidden
{
    padding: 1rem;

    border: 1px solid #DDD;
}



/* Disable by-lines */

.byline
{
    display: none !important;
}



/* Article overrides */

.hentry
{
    background-color: #FFF !important;

    border: 0 !important;
}